  /*我的*/
  .frame {
    border:1px solid #999999;

  }

  .wrapper1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    font-size:0.7em;
  }

  .wrapper2{
    display: grid;
    grid-template-columns: 12% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% ;
    font-size:0.7em;
  }

  .wrapper3{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-size:0.7em;
  }

  .item{
    border:0.1em solid #999999;
    text-align:center;
    line-height:225%;
  }

  .item0{
    border:0.1em solid #999999;
    text-align:center;
    line-height:125%;
  }

  .item1{
    grid-row-start: 3;
    grid-row-end: 5;
    border:0.1em solid #999999;
    text-align:center;
    line-height:500%;
  }

  .item2{
    border:0.1em solid #999999;
    text-align:center;
    line-height:500%;
  }

  .item3{
    border:0.1em solid #999999;
    text-align:center;
    line-height:500%;
  }